{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block body %}

<!-- NavBar-bootstrap -->


<div class="container my-3">
    <h2>Add a Todo</h2>
    <form action="/" method="post">
        <div class="mb-3">
            <label for="title" class="form-label">Todo Title</label>
            <input name="title" type="text" class="form-control" id="title" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">Todo Description</label>
            <input name="descb" type="text" class="form-control" id="desc">
        </div>
        <div class="mb-3">
            <label for="time" class="form-label">Time</label>
            <input name="time" type="text" class="form-control" id="time">
        </div>
        <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
        <!-- <button type="button" class="btn btn-outline-dark">Dark</button> -->
        <input type="submit" class="btn btn-outline-dark">
    </form>
</div>

<div class="container my-3">
    <h2>Your Todos</h2>
    {% if todoDetails|length == 0 %}
    <div class="alert alert-dark" role="alert">
        No Todo data found. Add your first Todo now!! 🧐
    </div>
    {% else %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">SNo.</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Time</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for value in todoDetails %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <!-- to automatically set the serial no [to avoid problem created while deleting any row in b/w] -->
                <td>{{ value[1]}}</td> <!-- we can't write like this: value.title -->
                <td>{{ value[2]}}</td>
                <td>{{ value[3]}}</td>
                <td>
                    <a href="/update/{{value[0]}}" type="button" class="btn btn-outline-dark btn-sm mx-1">Update</a>
                    <a href="/delete/{{value[0]}}" type="button" class="btn btn-outline-danger btn-sm mx-1">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock body %}



<!-- 
  IMP
  -> value.sno => this doesn't work, but it worked in flask-sqlalchemy[harry-flask-tutorial]
  -> | (pipe symbol) is a filter, So here this filter with length gives length of todoDetails
-->